<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello</h1>

    <form action="/vender/addService" method="post">
        <fieldset style="display: inline;">
            <legend>Add Service</legend>  
            <label for="servicType">Select Service Type</label>
            <select id="servicType" name="serviceType">
                <option value="photographer">photographer</option>
                <option value="videographer">videographer</option>
            </select>
            <button type="submit">Add New Service</button>
        </fieldset>
    </form>

</body>
</html>