<header class="main-header">
    <nav class="main-header-nev">
        <div class="main-header-nev-logo">
            <p class="logo">Wed Sole</p>
        </div>
        <ul class="main-header-list">
            <li class="main-header-list-items"><a class="<%= path === '/' ? 'active':'' %>" href="/">Shop</a></li>
            <li class="main-header-list-items"><a class="<%= path === '/admin/add-product' ? 'active':'' %>" href="/admin/add-product">Add Product</a></li>
        </ul>
    </nav>
</header>