<nav class="nav-bar">

    <div style="display: flex;justify-content: space-between;">
        <div class="logo">
            <img src="/assets/logo.svg" alt="Wed Soul Logo">
        </div>
        <button class="menu-toggle" aria-label="Toggle menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
    <ul class="nav-menu">
        <li><a href="/shop/services">Services</a></li>
        <% if(isUserAuthenticated) {%>
            <li><a href="/shop/logout">Logout</a></li>
            <li><a href="/shop/profile/bookings">Bookings</a></li>
            <li><a href="/shop/profile">Profile</a></li>
        <% }else{ %>
            <li><a href="/shop/auth/login">Login</a></li>
            <li><a href="/shop/auth/signup">Signup</a></li>
        <% } %>

    </ul>
</nav>