<nav class="nav-bar">
    <div class="logo">
        <img src="/assets/logo.svg" alt="Wed Soul Logo">
    </div>
    <ul>
        <li><a href="/shop/services">Services</a></li>
        <li><a href="/shop/login">Login</a></li>
        <li><a href="/shop/signup">Signup</a></li>
    </ul>
</nav>