<nav class="nav-bar">

    <div style="display: flex;justify-content: space-between;">
        <div class="logo">
            <img src="/assets/logo.svg" alt="Wed Soul Logo">
        </div>
        <button class="menu-toggle" aria-label="Toggle menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
    <ul class="nav-menu">
        <li><a href="/shop/services">Services</a></li>
        <li><a href="/shop/login">Login</a></li>
        <li><a href="/shop/signup">Signup</a></li>
    </ul>
</nav>