
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alex+Brush&family=Playwrite+VN:wght@300&display=swap"
      rel="stylesheet">
    <link rel="stylesheet" href="/css/shop/shop.css">
    <script src="/js/shop/shop.js" ></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wed Soul</title>
  </head>
<body>

    <%- include("./components/nav.ejs") %>

    <div class="hero-section">
        <h1 class="hero-title">User Profile</h1>
    </div>

</body>
</html>
