<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/shop/auth/signup" method="post">
        <label for="email">email</label>
        <input type="email" name="email" id="email">

        <label for="password">password</label>
        <input type="password" name="password" id="password">

        <label for="confirmPassword">confirmPassword</label>
        <input type="confirmPassword" name="confirmPassword" id="confirmPassword">

        <button type="submit">Sign Up</button>
    </form>
</body>

</html>